@model G7_PhongThuyWeb.Models.TinTuc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Admin/Plugin/ckeditor/ckeditor.js"></script>

<h2>Edit</h2>
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "AdminTinTuc", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <font color="green"><h3>Chỉnh Sửa Phản Hồi</h3></font>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)

                            

                                <label for="input-1">Tiêu Đề</label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                 <label for="input-1">Người Đăng</label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                              

                                <label for="input-1">Trạng Thái</label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", @Value = "Đã Được Kiểm Duyệt", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <label for="input-1">Mô Tả Chi Tiết</label>
                                <div class="form-group">
                                    <div ass="col-md-10">

                                        <!--@Html.TextAreaFor(model => model.content, new { @id = "FullDescription", @class = "form-control", @rows = "200" }) @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                                        <script>
                                            CKEDITOR.replace("FullDescription");
                                        </script>-->
                                        @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })*@
                                        @Html.TextAreaFor(model => model.content, new { @id = "ckeContent" })
                                        <script>
                                            CKEDITOR.replace("ckeContent");
                                        </script>
                                    </div>
                                </div>

                                <label for="input-1">Ảnh Sản Phẩm</label>
                                <div class="form-group">

                                    <div class="col-md-10">

                                        <img src='~/Content/images/@Html.DisplayFor(model => model.image_link)' width="200px" height="200px" />
                                        <br /> <br />
                                        @Html.EditorFor(model => model.image_link, new { htmlAttributes = new { @class = "form-control" } })
                                        <br />
                                        <input type="file" name="Images" />

                                    </div>
                                </div>

                                <label for="input-1">Ngày Tạo</label>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.created, new { htmlAttributes = new { @class = "form-control", type = "date", @Value = Model.created.ToString("yyyy-MM-dd") } })
                                        @*@Html.EditorFor(model => model.created, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.created, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <button type="submit" value="Save" class="btn btn-success">Lưu Phản Hồi</button>
                                <a href="/Admin/AdminTinTuc" target="_self">
                                    <img class="pointer" style="cursor: pointer;" src="~/Content/admin/img/huy.png">


                            </div>


                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="overlay toggle-menu"></div>
    </div>
</div>



