@using G7_PhongThuyWeb.Models;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="~/Content/test/css/font-awesome.css" rel="stylesheet">
    <script src="~/Content/admin/js/jquery.min.js"></script>
    <script src="~/Content/admin/js/bootstrap.min.js"></script>
    <script src="~/Content/admin/js/metisMenu.min.js"></script>

    <script src="~/Content/admin/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="icon" href="~/Content/test/images/favicon.png" type="image/x-icon">
    <link href="~/Content/test/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/test/css/jquery.simpleLens.css">
    <link rel="stylesheet" type="text/css" href="~/Content/test/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/test/css/nouislider.css">
    <link id="switcher" href="~/Content/test/css/theme-color/default-theme.css" rel="stylesheet">
    <link href="~/Content/test/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">
    <link href="~/Content/test/css/style.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- DataTables Responsive CSS -->

    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/admin/css/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="~/Content/admin/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Content/admin/css/dataTables/dataTables.responsive.css" rel="stylesheet">

    <link href="~/Content/admin/css/startmin.css" rel="stylesheet">
    <link href="~/Content/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @*<link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css">*@

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/Content/admin/js/sweetalert2.all.js"></script>
    <script src="~/Content/admin/js/bootstrap-datetimepicker.js"></script>

    <style>
        .slides img {
            height: 100%;
            width: 100%;
        }
    </style>


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Phong Thủy Diệp Tâm</a>

        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="/Admin/AdminHome"><i class="fa fa-home fa-fw"></i> Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="/Admin/AdminUser"><i class="fa fa-pencil fa-fw"></i> Quản lý tài khoản</a></li>
            <li><a href="/Admin/Product"><i class="fa fa-pencil fa-fw"></i> Quản lý sản phẩm</a></li>
            <li><a href="/Admin/AdminPay"><i class="fa fa-pencil fa-fw"></i> Quản lý Hóa Đơn</a></li>
            <li><a href="/Admin/AdminTinTuc"><i class="fa fa-pencil fa-fw"></i> Quản lý Phản Hồi</a></li>
            <li><a href="/Admin/TypeProduct"><i class="fa fa-pencil fa-fw"></i> Cấu Hình Chuyên Mục Sản Phẩm</a></li>

        </ul>


        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> Xin Chào: @Session["useradmin"] <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>-->
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Đổi mật khẩu</a>
                    </li>
                    <li class="divider"></li>
                    <li>

                        <a href="@Url.Action("Logout","AdminHome")"><i class="fa fa-sign-out fa-fw"></i> Thoát</a>
                    </li>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    }
                </ul>
            </li>
        </ul>
    </nav>


    <!-- DataTables JavaScript -->

    <script src="~/Content/admin/js/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/js/dataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/admin/js/startmin.js"></script>
    <script src="~/Content/admin/js/account.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="~/Content/admin/css/bootstrap-dialog.min.css" />
    <script src="~/Content/admin/js/bootstrap-dialog.min.js"></script>

    <script src="~/Content/admin/js/jquery.tabledit.min.js"></script>

    <script>
        $('#dataTables-role2').on('draw.dt', function () {
            $('#dataTables-role2').Tabledit({
                url: 'ajax/ajax_Action.php',
                dataType: 'json',
                columns: {
                    identifier: [0, 'id'],
                    editable: [
                        [8, 'first_name'],
                        //[3, 'last_name'],
                        //[4, 'gender', '{"1":"Male","2":"Female"}']
                    ]
                },
                deleteButton: false,
                restoreButton: false,
                onSuccess: function (data, textStatus, jqXHR) {
                    if (data.action == 'edit') {
                        swal("Thành công!", "", "success");
                        $('#' + data.id).remove();
                        $('#dataTables-role2').DataTable().ajax.reload();
                    }
                }
            });
        });
    </script>
    @RenderBody()

    <script src="~/Content/js/plugins/ckeditor/ckeditor.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<div id="footer">
    <center>

        <br /><p class="Copyright"> © Website được phát triển bởi Group 7- 18DTHC1  </p>
    </center>
</div>
</html>
